@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

/* naver style start here */
.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* padding: 10px 20px; */
}

.navbar .logo a {
    /
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0px 10px;
}

.nav-links li a {
    /* color: #fff; */
    text-decoration: none;
}

.burger {
    display: none; /* Hide initially on larger screens */
    cursor: pointer;
}

.burger .line {
    width: 25px;
    height: 3px;
    background-color: #423d3d;
    margin: 5px;
}

/* start-section style here */
.star1{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    align-items: center;
    
}

.star{
    color: rgb(58, 58, 58);
    
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}
.desc{
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px; 
}
button{
    color: rgb(255, 255, 255);
    padding: 10px 24px 10px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    border-radius: 41px;
    border-style: none;
    background: rgb(224, 44, 109);
    margin-top: 16px;
}
.star-section{
    max-width: 582px ;
    margin-right:8.3rem ;
}
.fa-solid{
    margin-left: 5px;
}
.camera{
    max-width: 440px;
    margin: 0 auto;
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-repeat: no-repeat;
    
}

/* section logo area start here */
.logo{
   max-width: 1110px;
   margin: 0 auto;
   margin-top: 70px;
     
}
.logo img{
    width:150px;
   padding-left: 50px; 
    
}
/* card section style here */
.cart-title h4{
    max-width: 1110px;
    margin: 0 auto;
    color: rgb(58, 58, 58);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    margin-top: 60px;
    margin-bottom: -100px;
    
    
}
.card{
    max-width: 1110px;
    margin: 0 auto;
    margin-top: 147px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.card1{
    width: 350px;
    height: 476px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 15px 25px ;
    align-items: center;
    justify-content: center;
}

h3{
    color: rgb(24, 25, 31);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 20px;
}
span{
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-weight: 400;
}

p{
    color: rgb(120, 120, 133);
    margin-top: 16px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.8%;
   
}
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        top: 60px;
        left: 0;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        padding: 15px 0;
    }

    .burger {
        display: block;
    }
/* star section */
    .star1{
        flex-direction: column-reverse;
        margin-top: 90px;
    }
    button{
        width: 200px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .star-section{
        max-width: 90%;
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .star{
        text-align: center;
    }
    .camera img{
        width: 100%;
    }

    .logo{
      width: 400px; 
    }
    .logo img{
    margin-top: 20px;

    }
}